html {
    font-family: 'Source Serif Pro', serif;
    padding: 4rem;
    background-color: rgb(0, 86, 185);
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
}

header img {
    width: 30%;
}
    
header ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

header li {
    list-style-type: none;
    padding-right: 1rem;
}

header a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

.heading p {
    font-size: 5rem;
    margin-top: 0;
}

.features {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.features h2 {
    font-size: 3rem;
}

.features p {
    font-size: 1.3rem;
}

.features li {
    list-style-type: none;
}


footer {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

 
footer ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

footer li {
    list-style-type: none;
    padding-right: 1rem;
}

footer a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

footer p {
    text-decoration: underline;
}

@media screen and (min-width: 1001px){
    footer ul {
        display: none;
    }
}

@media screen and (max-width: 1000px){
    
    html {
        padding: 2rem;
    }
    
    .features {
        flex-direction: column;
        gap: 0px;
        text-align: center;

    }

    header {
        flex-direction: column;
    }

    header ul {
        display: none;
    }
    
    .heading p {
        font-size: 3rem;
    }
    
    header img {
        width: 50%;
    }
    
    .features h2 {
    font-size: 3rem;
    }
    .features p {
    font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    html {
        padding: 1rem;
    }
    
    .heading p {
        font-size: 2rem;
    }
    
    header img {
        width: 50%;
    }
    
    .features h2 {
    font-size: 1.5rem;
    }
    .features p {
    font-size: 1rem;
    }

    footer {
        flex-direction: column;
    }

    footer ul {
        padding: 0;
    }

    footer li {
        padding: 0;
    }
}


